<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>index page</title>
</head>
<body>
<h3>project: sb_300</h3>
<h1>Welcome (index.html)</h1>
<a th:href="@{/login}">Log in here ... >></a>
</body>
</html>